<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{login}"></title>
    <link rel="stylesheet" th:href="@{/css2/login.css}">
</head>

<body>
    <div class="main_title">
        <h1 th:text="#{loginPage}"></h1>
    </div>
    <div class="main_title" th:if="${param.error}">
        <p style="color: red;" th:text="#{loginError}"></p>
    </div>
    <div class="inputForm">
        <form method="post" action="/login">
            <table>
                <tr>
                    <td th:text="#{email}"></td>
                    <td><input type="email" name="username"></td>
                </tr>
                <tr>
                    <td th:text="#{password}"></td>
                    <td><input type="password" name="password"></td>
                </tr>
            </table>
            <div>
                <button type="submit" class="btn" th:text="#{login}"></button>
            </div>
        </form>
        <div class="links">
            <a th:href="@{/signup}" th:text="#{signup}"></a>
        </div>
        <div>
            <a th:href="@{/update/password}">パスワードを忘れた？</a>
        </div>
    </div>
</body>

</html>