<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{login}"></title>
    <link rel="stylesheet" th:href="@{/css2/login.css}">
</head>

<body>
    <div class="main_title">
        <h1>パスワードを再度設定してください</h1>
    </div>
    <div class="main_title" th:if="${param.error}">
        <p style="color: red;" th:text="#{loginError}"></p>
    </div>
    <div class="inputForm">
        <form method="post" action="/update/password" th:object="${signupForm}">
            <table>
                <tr>
                    <td th:text="#{email}"></td>
                    <td><input type="email" name="email"></td>
                </tr>
                <tr>
                    <td th:text="#{password}"></td>
                    <td><input type="text" name="password"></td>
                </tr>
            </table>
            <div>
                <button type="submit" class="btn">再設定</button>
            </div>
        </form>
        <div>
            <a href="/login">戻る</a>
        </div>
    </div>
</body>

</html>